<div class="w-full flex justify-start mb-5">
  <button mat-raised-button mat-button color="primary" class="ml-3" routerLink="./create">Créer un article</button>
</div>

@if (articles$ | async; as articles) {
  <div class="flex flex-wrap justify-center gap-5 mb-5">
    @if (articles.length === 0) {
      <p>Vous n'êtes abonné à aucun sujet.</p>
    } @else {
      @for (article of articles; track article.id) {
        <app-card-article
          [id]="article.id"
          [title]="article.title"
          [description]="article.description"
          [date]="article.createdAt"
          [author]="article.username"
          [topicTitle]="article.topicTitle"
          />
      }
    }
  </div>
} @else {
  <div class="flex justify-center w-full">
    <p>Un problème est survenu</p>
  </div>
}
