<app-layout title="S'inscrire">
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="flex flex-col w-5/6 pt-5 laptop:w-2/6">
    <label>Nom d’utilisateur</label>
    <mat-form-field>
      <input matInput formControlName="name" type="text">
      <mat-error *ngIf="registerForm.get('name')!.hasError('required')">
        Le nom d'utilisateur est requis.
      </mat-error>
    </mat-form-field>

    <label>Adresse e-mail</label>
    <mat-form-field>
      <input matInput formControlName="email" type="text">
      <mat-error *ngIf="registerForm.get('email')!.hasError('required')">
        L'adresse e-mail est requise.
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')!.hasError('email')">
        Adresse e-mail invalide.
      </mat-error>
    </mat-form-field>

    <label>Mot de passe</label>
    <mat-form-field>
      <input matInput formControlName="password" type="password">
      <mat-error *ngIf="registerForm.get('password')!.hasError('invalidPassword')">
        Le mot de passe doit contenir au moins 8 caractères, une lettre majuscule, une lettre minuscule, un chiffre et
        un caractère spécial.
      </mat-error>
    </mat-form-field>

    <div class="flex justify-center pt-5">
      <button
        mat-raised-button
        color="primary"
        class="w-1/2"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        S'inscrire
      </button>
    </div>
  </form>
</app-layout>
