<mat-card class="p-5">
  <mat-card-header class="mb-3">
    <mat-card-title>
      <h1 class="font-bold text-2xl">{{ title }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="mb-3">
    <p class="text-lg truncate">{{ description }}</p>
  </mat-card-content>
  <mat-card-footer class="w-full flex justify-center">
    <button mat-button mat-raised-button color="primary" (click)="handleFn($event)" [disabled]="isSubscribed">{{ btnContent }}</button>
  </mat-card-footer>
</mat-card>
