@if (topics$ | async; as topics) {
  <div class="flex flex-wrap justify-center gap-5 mb-5">
    @if (topics.length === 0) {
      <p>Vous n'êtes abonné à aucun sujet.</p>
    } @else {
      @for (topic of topics;track topic.id) {
        <app-topic-card
          [title]="topic.title"
          [description]="topic.description"
          btnContent="S'abonner"
          (manageSubscription)="subscribeToTopic(topic.id, topic.title)"
          [isSubscribed]="topic.subscribed"
        />
      }
    }
  </div>
} @else {
  <div class="flex justify-center w-full">
    <p>Un problème est survenu</p>
  </div>
}
