<div class="w-full h-full flex flex-col items-center gap-3">
  @if (comments.length === 0) {
    <div class="h-64 laptop:h-96">
    <p>Aucun commentaire pour le moment</p>
    </div>
  } @else {
    <div class="flex flex-col gap-5 w-full h-80 laptop:h-96 p-1 overflow-y-auto justify-center items-center">
      @for (comment of comments$ | async;track comment.id) {
        <div class="w-full laptop:w-8/12 h-Full flex items-end flex-row-reverse laptop:flex-row gap-5">
          <p>{{ comment.username }}</p>
          <mat-card class="p-5">
            <mat-card-content>
              <p class="text-lg">{{ comment.content }}</p>
            </mat-card-content>
            <mat-card-footer>
              <div class="flex justify-end">
                <p>{{ comment.createdAt | date: 'dd/MM/yyyy' }}</p>
              </div>
            </mat-card-footer>
          </mat-card>
        </div>
      }
    </div>
  }
  <form [formGroup]="commentForm" (ngSubmit)="addComment(articleId, commentForm.value)" class="flex flex-row w-full laptop:w-8/12">
    <mat-form-field class="w-full">
      <textarea matInput formControlName="content" placeholder="Ecrivez ici votre commentaire"></textarea>
    </mat-form-field>

    <div class="flex justify-center pt-5">
      <button mat-icon-button type="submit" class="transform rotate-[325deg]"
              [disabled]="commentForm.invalid" disabled aria-label="Send a comment">
        <mat-icon class="text-purple-600">send</mat-icon>
      </button>
    </div>
  </form>
</div>

