<div class="flex flex-col gap-5 h-1/2 justify-around ">
  <div class="w-full flex justify-center">
    <img src="assets/logo.png" alt="logo" class="w-60">
  </div>
  <div class="flex flex-col gap-5 w-full items-center laptop:flex-row laptop:justify-center laptop:gap-20">
    <button mat-button mat-stroked-button class="w-4/6 laptop:w-1/6" color="primary" routerLink="./login">Se connecter</button>
    <button mat-button mat-stroked-button class="w-4/6 laptop:w-1/6" color="primary" routerLink="./register">S'inscrire</button>
  </div>
</div>
